#--------------- RStudio files
.Rproj.user
#--------------- R history
.Rhistory
.RData
.Ruserdata
#--------------- Public folder
#public  
#blogdown
3Thumbs.db  #- para windows users
#---------------
_cache/
drafts/
